<a href="https://colab.research.google.com/github/Avinash1579/assignments-by-mentor/blob/main/Python%20Assignment%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

üìñ Story Continuation: The Tuple Team Assignments!

With the student list restored, it's time to form teams for the competition! The Tech Club must use Tuples to assign students into teams, ensuring each team has exactly two members.

üî¢ Python Tuple Challenges

1Ô∏è‚É£ Create a tuple named team_1 with the first two students from the student list.
a = "Liam, Emma, Olivia, Noah, Sophia"
b = a. split(",")

c = tuple(b[0:1])

print("tuple", c)

In [2]:
a = "Liam, Emma, Olivia, Noah, Sophia"
b = a. split(",")

c = tuple(b[0:2])

print("tuple", c)

tuple ('Liam', ' Emma')

2Ô∏è‚É£ Tuples are immutable! Try changing the second student's name in team_1 and note the error message.

# Your code here

In [6]:
a = ('Liam', ' Emma')
a[1] = "laddu"
print("tuple:", a)

TypeError: 'tuple' object does not support item assignment

3Ô∏è‚É£ Convert the team_1 tuple into a list, change the second student's name, and convert it back to a tuple.

# Your code here

In [7]:
a = ('Liam', ' Emma')

b = list(a)
b[1] = "laddu"

c = tuple(b)

print("tuple", c)

tuple ('Liam', 'laddu')


4Ô∏è‚É£ Create a tuple named all_teams that contains three different teams, each as a tuple.

# Your code here

In [10]:
a = ("Liam", "Emma", "Olivia", "Noah", "Sophia", "laddu")

b = a[0:2]
c = a[2:4]
d = a[4:6]

e = (b, c, d)

print("all teams", e)

all teams (('Liam', 'Emma'), ('Olivia', 'Noah'), ('Sophia', 'laddu'))

#### 5Ô∏è‚É£ Use tuple unpacking to extract the student names from team_1 into separate variables and print them.

# üèÜ Story Conclusion:

### With teams successfully assigned using tuples, the Tech Club is now fully prepared for the competition! But another challenge awaits‚Äîhandling competition scores using dictionaries! üöÄ

# üéâ MISSION COMPLETE!
## Great job, Alex! You have successfully helped Greenfield High using Python! üöÄüí°

**(c) Rahul Tiwari**