<a href="https://colab.research.google.com/github/Avinash1579/assignments-by-mentor/blob/main/Python%20Assignment%206.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìñ Story Continuation: The Duplicate Entries Mystery!
## The coding competition is over, but now there's another problem! The event organizers noticed that some students were accidentally registered multiple times, and some students were missing from the final list of participants.

### Principal Williams calls the Tech Club again! Alex, Mia, and Jake must use Python sets to clean up the participant data and ensure every student's participation is properly recorded.

#### üî¢ Python Set Challenges
##### Each challenge is a real-world problem the Tech Club needs to solve using Python sets.

#### 1Ô∏è‚É£ Creating a Set of Participants
##### The student registration system recorded duplicate entries. Convert the list of participants into a set to remove duplicates.
**participants = ["Alice", "Bob", "Charlie", "Alice", "David", "Charlie", "Eve"]**

In [1]:
a = ["Alice", "Bob", "Charlie", "Alice", "David", "Charlie", "Eve"]
b = set(a)
print(b)

{'Eve', 'Charlie', 'Alice', 'Bob', 'David'}

#### 2Ô∏è‚É£ Adding a Late Entry
##### Emma was accidentally left out. Add "Emma" to the set.

In [2]:
a = {'Eve', 'Charlie', 'Alice', 'Bob', 'David'}
b = list(set(a))
b.append('emma')
c = set(b)
print(c)

{'Eve', 'emma', 'Charlie', 'Alice', 'Bob', 'David'}

#### 3Ô∏è‚É£ Removing a Participant
##### Bob couldn't attend the competition. Remove "Bob" from the set.

In [4]:
a = {'Eve', 'Charlie', 'Alice', 'Bob', 'David'}
b = list(set(a))
index = b.index('Bob')
del b[index]
c = set(b)
print(c)

{'Alice', 'Eve', 'David', 'Charlie'}

#### 4Ô∏è‚É£ Checking for a Student
##### Check if "Alice" participated in the competition.

In [5]:
a = {'Eve', 'Charlie', 'Alice', 'Bob', 'David'}
b = list(set(a))
if "Alice" in b:
  print("Alise participated in the competition ")
else:
  print("Alise didn't participated in the competition ")

Alise participated in the competition

#### 5Ô∏è‚É£ Finding Common Participants
##### The school hosted another AI challenge. Find students who participated in both competitions.
**coding_competition = {"Alice", "Charlie", "David", "Eve"}**

**ai_challenge = {"Charlie", "David", "Frank", "Grace"}**

In [6]:
coding_competition = {"Alice", "Charlie", "David", "Eve"}
ai_challenge = {"Charlie", "David", "Frank", "Grace"}
a = coding_competition.intersection(ai_challenge)
print(a)

{'David', 'Charlie'}

#### 6Ô∏è‚É£ Finding Unique Participants
##### Find students who only participated in the coding competition.

In [7]:
coding_competition = {"Alice", "Charlie", "David", "Eve"}
ai_challenge = {"Charlie", "David", "Frank", "Grace"}
a = coding_competition.difference(ai_challenge)
print(a)

{'Alice', 'Eve'}

#### 7Ô∏è‚É£ Finding All Participants
##### Get a list of all unique participants from both competitions.

In [8]:
coding_competition = {"Alice", "Charlie", "David", "Eve"}
ai_challenge = {"Charlie", "David", "Frank", "Grace"}
a = coding_competition.union(ai_challenge)
print(a)

{'Eve', 'Charlie', 'Frank', 'Grace', 'Alice', 'David'}

#### 8Ô∏è‚É£ Checking for Subsets
##### The top scorers are a subset of the competition participants. Check if one set is a subset of the other.
**top_scorers = {"Charlie", "Eve"}**

In [15]:
a = {'Eve', 'Charlie', 'Alice', 'Bob', 'David'}
b = {'Charlie', 'Eve'}
c = b.issubset(a)
print(c)

True

#### 9Ô∏è‚É£ Checking for Disjoint Sets
##### The judges should have no overlap with the participants. Verify if these two sets are disjoint.
**judges = {"Mr. Smith", "Ms. Johnson"}**

In [14]:
a = {'Eve', 'Charlie', 'Alice', 'Bob', 'David'}
b = {"Mr. Smith", "Ms. Johnson"}
c = a.isdisjoint(b)
print(c)

True

#### üîü Finding Students in One Event but Not the Other
##### Find students who participated in the AI challenge but not in the coding competition.

In [16]:
coding_competition = {"Alice", "Charlie", "David", "Eve"}
ai_challenge = {"Charlie", "David", "Frank", "Grace"}
a = ai_challenge.difference(coding_competition)
print(a)

{'Frank', 'Grace'}

#### 1Ô∏è‚É£1Ô∏è‚É£ Copying a Set
##### Create a copy of the participants set and modify it without changing the original.

In [17]:
a = {'Eve', 'Charlie', 'Alice', 'Bob', 'David'}
b = a.copy()
print(b)

{'Alice', 'Bob', 'Eve', 'Charlie', 'David'}

#### 1Ô∏è‚É£2Ô∏è‚É£ Clearing the Participant List
##### After recording results, clear the participants set without deleting the variable.

In [18]:
a = {'Eve', 'Charlie', 'Alice', 'Bob', 'David'}
a.clear()
print(a)

set()

#### 1Ô∏è‚É£3Ô∏è‚É£ Converting a Set Back to a List
##### Convert the participants set back into a list for further processing.

In [19]:
a = {'Eve', 'Charlie', 'Alice', 'Bob', 'David'}
b = list(set(a))
print(b)

['Alice', 'Bob', 'Eve', 'Charlie', 'David']

#### 1Ô∏è‚É£4Ô∏è‚É£ Set Length
##### Find out how many unique students participated in the coding competition.

In [20]:
a = {'Eve', 'Charlie', 'Alice', 'Bob', 'David'}
b = len(a)
print(b)

5

#### 1Ô∏è‚É£5Ô∏è‚É£ Set Operations in a Single Line
##### Write a one-liner to:
**Find students who participated in both competitions.**

**Find students who were only in one competition.**

In [21]:
a = {"Alice", "Charlie", "David", "Eve"}
b = {"Charlie", "David", "Frank", "Grace"}
c = a.difference(b)
print(c)

{'Alice', 'Eve'}

# üèÜ Story Conclusion
## After solving these Python set challenges, the Tech Club successfully cleans up the participant data and ensures fair competition results! üéâ

**(c) Rahul Tiwari**