<a href="https://colab.research.google.com/github/Avinash1579/assignments-by-mentor/blob/main/Python%20Assignment%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üè´ PYTHON SCHOOL QUEST: The Mystery of the Missing Student List!

### üöÄ A Fun, Beginner-Friendly Python Adventure! üöÄ

#### üìö Chapter 3: Recovering the Lost Student List

##### After automating the student enrollment system and handling calculations with operators, Principal Williams has another challenge for the Tech Club!

##### üìù The Challenge:

##### The school's student attendance list for an upcoming coding competition has gone missing from the system. Without this list, the school won‚Äôt be able to register students for the event!

##### The Tech Club (Alex, Mia, and Jake) must use Python Lists to recover, sort, modify, and manage the student list before the registration deadline.

#### üî¢ Python List Challenges

#### Part 1: Creating & Accessing Lists

#### 1Ô∏è‚É£ The Tech Club finds a broken student list in the system:

**students = "Liam, Emma, Olivia, Noah, Sophia"**

**But this is a string, not a list! Convert it into a Python list and print it.**

In [1]:
a = "Liam, Emma, Olivia, Noah, Sophia"
b = list[a]
print("list:", b)

list: list['Liam, Emma, Olivia, Noah, Sophia']

#### 2Ô∏è‚É£ The teacher finds out that "James" was also supposed to be on the list. Add "James" to the list.

In [10]:
a = "Liam, Emma, Olivia, Noah, Sophia"
b = a.split(",")
b.append("James")
print("list:", b)

list: ['Liam', ' Emma', ' Olivia', ' Noah', ' Sophia', 'James']

#### 3Ô∏è‚É£ Alex wants to check who the first and last student is. Write a Python command to display both.

In [21]:
a = "Liam, Emma, Olivia, Noah, Sophia"

b = a.split(",")
print("first student:", b[0])
print("last student:", b[-1])

first student: Liam
last student:  Sophia

#### Part 2: Modifying Lists

#### 4Ô∏è‚É£ Mia realizes there was a typo! "Olivia" should be "Olivia B." Modify the list to update the name.

In [23]:
a = "Liam, Emma, Olivia, Noah, Sophia"

b = a.split(",")
b[2] = "olivia B"

print("list:", b)

list: ['Liam', ' Emma', 'olivia B', ' Noah', ' Sophia']

#### 5Ô∏è‚É£ Jake accidentally added "Noah" twice. Remove only one instance of "Noah" without deleting the whole list.

In [31]:
a = "Liam, Emma, Olivia, Noah, Sophia, Noah"

b = a.split(",")
b. pop()

print("list", b)

list ['Liam', ' Emma', ' Olivia', ' Noah', ' Sophia']

#### 6Ô∏è‚É£ Principal Williams says that "Ava" was missing from the list. Insert "Ava" at index 3 without replacing any existing students.

In [32]:
a = "Liam, Emma, Olivia, Noah, Sophia"

b = a.split(",")

b. insert(3, "ava")

print("list:", b)

list: ['Liam', ' Emma', ' Olivia', 'ava', ' Noah', ' Sophia']

#### Part 3: Sorting & Reversing Lists

#### 7Ô∏è‚É£ To make the list more organized, sort the student names alphabetically.

In [36]:
a = "Liam, Emma, Olivia, Noah, Sophia"
b = a.split(",")
b. sort()
print("list:", b)

list: [' Emma', ' Noah', ' Olivia', ' Sophia', 'Liam']

#### 8Ô∏è‚É£ Mia suggests reversing the order of the list to check the last added names first. How can she do that?

In [37]:
a = "Liam, Emma, Olivia, Noah, Sophia"
b = a.split(",")
b.reverse()
print("list:", b)

list: [' Sophia', ' Noah', ' Olivia', ' Emma', 'Liam']

#### Part 4: Slicing & Checking Elements

#### 9Ô∏è‚É£ The competition only allows 4 students per school. Write a Python command to extract only the first 4 students from the list.

In [38]:
a = "Liam, Emma, Olivia, Noah, Sophia"
b = a.split(",")
c = b[0:4]
print("list:", c)

list: ['Liam', ' Emma', ' Olivia', ' Noah']

#### üîü Jake wants to check if "Sophia" is on the list. Write a command that prints "Sophia is registered!" if she is found.

In [46]:
a = "Liam, Emma, Olivia, Noah, Sophia"
b = a.split(",")
if "Sophia" in b:
  print("Sophia is in the lsit")
else:
  print("Sophia is not in the list")

Sophia is not in the list

#### Part 5: Advanced Operations

#### 1Ô∏è‚É£1Ô∏è‚É£ The Tech Club finds an old list of students:

In [ ]:
old_students = ["Lucas", "Mia", "Henry"]

**Merge the old list with the new student list to make one combined list.**

In [49]:
a = "Liam, Emma, Olivia, Noah, Sophia"
b = ["Lucas", "Mia", "Henry"]

c = a. split(",")
e = c+b
print("list:", e)

list: ['Liam', ' Emma', ' Olivia', ' Noah', ' Sophia', 'Lucas', 'Mia', 'Henry']

#### 1Ô∏è‚É£2Ô∏è‚É£ The school needs at least 10 students for the competition. Use a loop to add placeholder students (e.g., "StudentX") until the list has 10 names.

In [51]:
a = "Liam, Emma, Olivia, Noah, Sophia"

b= a.split(",")

while len(b) < 10:
  b.append("studentX")

print("list:", b)

list: ['Liam', ' Emma', ' Olivia', ' Noah', ' Sophia', 'studentX', 'studentX', 'studentX', 'studentX', 'studentX']

#### 1Ô∏è‚É£3Ô∏è‚É£ Jake wants to check how many times "Emma" appears in the list. Write a command to count its occurrences.

In [58]:
a = "Liam, Emma, Olivia, Noah, Sophia"

b = a.split(",")

c = b.count("Emma")

print(f"Emma appears {c} times")

Emma appears 0 times

#### 1Ô∏è‚É£4Ô∏è‚É£ Some names are mistakenly repeated. Write a command to remove duplicate names while keeping the original order.

In [60]:
a = "Liam, Emma, Olivia, Noah, Sophia, Noah"

b = a.split(",")
c = list(set(b))

print("list", c)

list [' Sophia', 'Liam', ' Noah', ' Olivia', ' Emma']

#### 1Ô∏è‚É£5Ô∏è‚É£ Principal Williams wants to start fresh. Write a Python command to clear all students from the list without deleting the variable.

In [61]:
a = "Liam, Emma, Olivia, Noah, Sophia"

b = a.split(",")
b.clear()

print("list:", b)

list: []

# üìñ Story Conclusion:

### After solving these Python List challenges, the Tech Club restores the missing student list in time! The school is now officially registered for the coding competition üéâ. However, the next challenge involves handling team assignments using Tuples‚Ä¶ but that‚Äôs for the next adventure!

# üéâ MISSION COMPLETE!
## Great job, Alex! You have successfully helped Greenfield High using Python! üöÄüí°

**(c) Rahul Tiwari**